@import "tailwindcss";

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  
  .safe-area-bottom {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  }
}

::-webkit-scrollbar {
  display: none;
}

